{
    "env": {
        "test": {
            "presets": [
                "@babel/preset-env",
                "@babel/preset-react",
                "@babel/preset-stage-1",
                "@babel/preset-typescript"
                // "@babel/preset-flow"
            ],
            "plugins": [
                "@babel/plugin-transform-react-jsx",
                "@babel/plugin-syntax-dynamic-import",
                "@babel/plugin-proposal-optional-chaining",
                "@babel/plugin-proposal-object-rest-spread",
                "babel-plugin-dynamic-import-node",
                "loadable-components/babel",
                "react-hot-loader/babel",
                "babel-plugin-styled-components"
            ]
        },
        "server": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "node": "current"
                        }
                    }
                ],
                "@babel/preset-stage-1",
                "@babel/preset-react",
                "@babel/preset-typescript"
                // "@babel/preset-flow"
            ],
            "plugins": [
                "@babel/plugin-transform-react-jsx",
                "@babel/plugin-proposal-optional-chaining",
                "@babel/plugin-syntax-dynamic-import",
                "@babel/plugin-proposal-object-rest-spread",
                "babel-plugin-dynamic-import-node",
                "loadable-components/babel",
                "react-hot-loader/babel",
                [
                    "babel-plugin-styled-components",
                    {
                        "ssr": true
                    }
                ],
                "transform-react-remove-prop-types"
            ]
        },
        "server:prod": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "node": "current"
                        }
                    }
                ],
                "@babel/preset-stage-1",
                "@babel/preset-react",
                "@babel/preset-typescript"
                // "@babel/preset-flow"
            ],
            "plugins": [
                "@babel/plugin-transform-react-jsx",
                "@babel/plugin-syntax-dynamic-import",
                "@babel/plugin-proposal-optional-chaining",
                "@babel/plugin-proposal-object-rest-spread",
                "babel-plugin-dynamic-import-node",
                "loadable-components/babel",
                "react-hot-loader/babel",
                [
                    "babel-plugin-styled-components",
                    {
                        "displayName": false
                    }
                ],
                "transform-react-remove-prop-types"
            ]
        },
        "client": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "browsers": [
                                "last 2 versions",
                                "safari >= 7"
                            ]
                        },
                        "modules": false
                    }
                ],
                "@babel/preset-stage-1",
                "@babel/preset-react",
                "@babel/preset-typescript"
                // "@babel/preset-flow"
            ],
            "plugins": [
                "@babel/plugin-transform-react-jsx",
                "@babel/plugin-syntax-dynamic-import",
                "@babel/plugin-proposal-optional-chaining",
                "@babel/plugin-proposal-object-rest-spread",
                "loadable-components/babel",
                "react-hot-loader/babel",
                "babel-plugin-styled-components"
            ]
        },
        "client:prod": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "browsers": [
                                "last 2 versions",
                                "safari >= 7"
                            ]
                        },
                        "modules": false
                    }
                ],
                "@babel/preset-stage-1",
                "@babel/preset-react",
                "@babel/preset-typescript"
                // "@babel/preset-flow"
            ],
            "plugins": [
                "graphql-tag",
                "@babel/plugin-transform-react-jsx",
                "@babel/plugin-syntax-dynamic-import",
                "@babel/plugin-proposal-optional-chaining",
                "@babel/plugin-proposal-object-rest-spread",
                "loadable-components/babel",
                "react-hot-loader/babel",
                [
                    "babel-plugin-styled-components",
                    {
                        "displayName": false
                    }
                ],
                "transform-react-remove-prop-types"
            ]
        }
    }
}